$color-primary: #6c63ff;

$color-beige: #faf8f2;
$color-dark-brown: #99856d;
$color-light-brown: #d3cabd;

$color-dark-grey: #1a1d1f;
$color-dark-blue: #3f3d56;

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}
