$color-primary: #6c63ff;

$color-beige: #faf8f2;
$color-dark-brown: #99856d;
$color-light-brown: #d3cabd;

$color-dark-grey: #1a1d1f;
$color-dark-blue: #3f3d56;
$color-white: #ffffff;
$color-grey: #757a7d;
$color-light-grey: #c5c6c6;

$bp-large: 1350px;
$bp-medium: 980px;
$bp-small: 600px;
$bp-smaller: 420px;
$bp-extrasmall: 320px;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-medium) {
  //   font-size: 50%;
  // }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-white;
  background-color: $color-beige;
  background-size: cover;
  background-repeat: no-repeat;
  // min-height: calc(100vh - 2 * 4vw);
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-beige;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-light-brown;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-dark-brown;
}
