.container__standing-illu {
  height: 0px;
  justify-content: flex-start;
  height: 0px;
  display: flex;
  width: 1260px;
  margin: auto;
}

.standing-illu {
  height: 270px;
  position: relative;
  bottom: 170px;
}

.footer-main {
  background-color: $color-dark-brown;
  height: 100px;
  display: flex;
}

.footer-bottom {
  background-color: $color-dark-grey;
  height: 60px;
}

.footer-main__container {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main__left-container {
  width: 15.665%;
  display: flex;
}

.footer-main__signature {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}

.footer-main__signature h2,
.footer-main__signature p {
  text-align: center;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 400;
}

.footer-main__social-icons {
  width: 15.665%;
  display: flex;
  justify-content: flex-end;
}
.social-links__github,
.social-links__linkedin {
  text-decoration: none;
  color: inherit;
}

.social-links__github {
  margin-right: 10px;
}

.social-icons__git,
.social-icons__linkedin {
  height: 35px;
  width: auto;
  filter: invert(99%) sepia(20%) saturate(140%) hue-rotate(356deg)
    brightness(99%) contrast(97%);
  cursor: pointer;
}

.social-icons__git {
  margin-right: 15px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .footer-main__container {
    width: 880px;
  }

  .container__standing-illu {
    width: 850px;
  }

  .standing-illu {
    height: 210px;
    bottom: 110px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .footer-main__container {
    width: 520px;
  }

  .container__standing-illu {
    display: none;
  }

  .standing-illu {
    display: none;
  }

  .social-icons__git,
  .social-icons__linkedin {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
  .footer-main__container {
    width: 380px;
  }

  .container__standing-illu {
    display: none;
  }

  .standing-illu {
    display: none;
  }

  .social-icons__git,
  .social-icons__linkedin {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-extrasmall) and (max-width: $bp-smaller) {
  .footer-main__container {
    width: 280px;
  }

  .container__standing-illu {
    display: none;
  }

  .standing-illu {
    display: none;
  }

  .social-icons__git,
  .social-icons__linkedin {
    display: none;
  }
}
