.illustration-bottom {
  height: 0px;
}

.standing-illu {
  height: 270px;
  position: relative;
  bottom: 170px;
  left: 320px;
}

.footer-main {
  background-color: $color-dark-brown;
  height: 100px;
  display: flex;
}

.footer-bottom {
  background-color: $color-dark-grey;
  height: 60px;
}

.footer-main__container {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main__left-container {
  width: 87.56px;
}

.footer-main__signature {
  display: flex;
  flex-direction: column;
}

.footer-main__signature h2,
.footer-main__signature p {
  text-align: center;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 400;
}

.social-links__github,
.social-links__linkedin {
  text-decoration: none;
  color: inherit;
}

.social-links__github {
  margin-right: 10px;
}

.social-icons__git,
.social-icons__linkedin {
  height: 35px;
  width: auto;
  filter: invert(99%) sepia(20%) saturate(140%) hue-rotate(356deg)
    brightness(99%) contrast(97%);
  cursor: pointer;
}

.social-icons__git {
  margin-right: 15px;
}
