.header {
  grid-area: head;
  background-color: $color-dark-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header__container {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
}

// .header__user {
//   display: none;
//   filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(66deg)
//     brightness(101%) contrast(101%);
// }

.header__usersEmail-container {
  margin-right: 30px;
  display: flex;
  align-items: center;
  display: none;
}

.header__usersEmail-text {
  font-size: 1.5em;
  padding-top: 0.3em;
}

.header__btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  background-color: transparent;
  font-size: 2em;
  font-weight: 400;
  margin-left: 30px;
}

.header__btn-signup {
  height: 30px;
  width: 100px;
  background-color: $color-primary;
  box-shadow: none;
  font-size: 2em;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .header__container {
    width: 880px;
  }
  .header__usersEmail-container {
    margin-right: 25px;
  }

  .header__usersEmail-text {
    font-size: 1.5em;
  }

  .header__btn-logout {
    margin-left: 25px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .header {
    height: 45px;
  }

  .header__container {
    width: 520px;
  }

  // .header__user {
  //   display: block;
  //   height: 35px;
  // }

  // .header__btn-login,
  // .header__btn-signup {
  //   display: none;
  // }

  .header__usersEmail-container {
    margin-right: 10px;
  }

  .header__usersEmail-text {
    font-size: 1.5em;
  }

  .header__btn-signup,
  .header__btn-logout {
    height: 28px;
    width: 90px;
    font-size: 1.8em;
    font-weight: 400;
  }

  .header__btn-logout {
    margin-left: 10px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
  .header {
    height: 45px;
  }

  .header__container {
    width: 380px;
  }

  // .header__user {
  //   display: block;
  //   height: 30px;
  // }

  // .header__btn-login,
  // .header__btn-signup {
  //   display: none;
  // }

  .header__usersEmail-container {
    margin-right: 10px;
  }

  .header__usersEmail-text {
    font-size: 1.3em;
  }

  .header__btn-signup,
  .header__btn-logout {
    height: 25px;
    width: 70px;
    font-size: 1.6em;
    font-weight: 400;
    // background-color: transparent;
  }

  .header__btn-logout {
    margin-left: 10px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-extrasmall) and (max-width: $bp-smaller) {
  .header {
    height: 35px;
  }

  .header__container {
    width: 280px;
  }

  // .header__user {
  //   display: block;
  //   height: 25px;
  // }

  // .header__btn-login,
  // .header__btn-signup {
  //   display: none;
  // }

  .header__usersEmail-container {
    margin-right: 5px;
  }

  .header__usersEmail-text {
    font-size: 1.2em;
  }

  .header__btn-signup,
  .header__btn-logout {
    height: 25px;
    width: 70px;
    font-size: 1.4em;
    font-weight: 400;
    // background-color: transparent;
  }

  .header__btn-logout {
    margin-left: 5px;
  }
}
