.nav {
  height: 170px;
  display: flex;
}

.nav__container {
  width: 1300px;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.nav__container-logo {
  width: 16.665%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__container-form {
  width: 66.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__container-icons {
  width: 16.665%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.nav__logo {
  display: block;
  height: 70px;
  cursor: pointer;
  justify-content: left;
}

.nav__search {
  background-color: $color-white;
  width: 600px;
  height: 45px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-primary;
  display: flex;
  //   padding-left: 3em;
  align-items: center;
  transition: transform, box-shadow 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-dark-blue, 0.08);
    border-width: 2px;
  }

  &:focus-visible {
    outline-color: $color-primary;
  }
}

.search__field {
  width: 498px;
  height: 45px;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.8em;
  text-align: center;
  font-weight: 400;
  color: $color-dark-blue;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey;
  }
}

.nav__btn-search {
  height: 45px;
  width: 100px;
  background-color: $color-primary;
  font-size: 2em;
  font-weight: 400;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.nav__heart,
.nav__glasses {
  height: 45px;
  width: auto;
  filter: invert(65%) sepia(83%) saturate(6267%) hue-rotate(227deg)
    brightness(100%) contrast(104%);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.nav__glasses {
  margin-right: 10px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .nav__container {
    width: 880px;
  }

  .nav__search {
    width: 450px;
  }

  .search__field {
    width: 348px;
  }

  .nav__btn-search {
    width: 100px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .nav {
    height: 200px;
  }
  .nav__container {
    width: 520px;
    flex-wrap: wrap;
    // padding-top: 20px;
    // padding-bottom: 20px;
  }

  .nav__search {
    width: 520px;
    height: 40px;
  }

  .search__field {
    width: 428px;
    height: 40px;
  }

  .nav__btn-search {
    width: 90px;
    height: 40px;
  }

  .nav__heart,
  .nav__glasses {
    height: 40px;
  }

  .nav__container-logo {
    order: 1;
    width: 50%;
    height: 120px;
  }

  .nav__container-form {
    order: 3;
    width: 100%;
    height: 80px;
    align-items: flex-start;
  }

  .nav__container-icons {
    order: 2;
    width: 50%;
    height: 120px;
  }
  .nav__logo {
    height: 60px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
  .nav {
    height: 140px;
  }

  .nav__container {
    width: 380px;
    flex-wrap: wrap;
    // padding-top: 15px;
    // padding-bottom: 15px;
  }

  .nav__search {
    width: 380px;
    height: 35px;
  }

  .search__field {
    width: 298px;
  }

  .nav__btn-search {
    height: 35px;
    width: 80px;
    font-size: 1.8em;
  }

  .nav__heart,
  .nav__glasses {
    height: 35px;
  }

  .nav__container-logo {
    order: 1;
    width: 50%;
    height: 80px;
  }

  .nav__container-form {
    order: 3;
    width: 100%;
    height: 70px;
    align-items: flex-start;
  }

  .nav__container-icons {
    order: 2;
    width: 50%;
    height: 80px;
  }
  .nav__logo {
    height: 50px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-extrasmall) and (max-width: $bp-smaller) {
  .nav {
    height: 120px;
  }

  .nav__container {
    width: 280px;
    flex-wrap: wrap;
    // padding-top: 15px;
    // padding-bottom: 15px;
  }

  .nav__container-logo {
    order: 1;
    width: 50%;
    height: 70px;
  }

  .nav__container-form {
    order: 3;
    width: 100%;
    height: 50px;
    align-items: flex-start;
  }

  .nav__container-icons {
    order: 2;
    width: 50%;
    height: 70px;
  }

  .nav__logo {
    height: 40px;
  }

  .nav__search {
    width: 280px;
    height: 30px;
  }

  .search__field {
    font-size: 1.5em;
    width: 208px;
  }

  .nav__btn-search {
    height: 30px;
    width: 70px;
    font-size: 1.6em;
  }

  .nav__heart,
  .nav__glasses {
    height: 30px;
  }
}
