.container__sitting-illu {
  height: 0px;
  justify-content: flex-end;
  height: 0px;
  display: flex;
  width: 1040px;
  margin: auto;
}

.sitting-illu {
  height: 160px;
  top: -128px;
  position: relative;
}

.results-container {
  width: 1300px;
  min-height: calc(100vh - 425px);
  margin: auto;
  background-color: $color-light-brown;
  border-radius: 40px;
  margin-bottom: 60px;
}

.results-container__box {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

////////////////////////////////////////////////////

.summary-container-2 {
  display: none;
}

.raitings__container-2 {
  display: none;
}
.bottom-row-container {
  display: none;
}

.container__icons-2 {
  display: none;
}

.result-details__container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.result-details__img {
  width: 430px;
  height: 610px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
}

.result-details__description {
  width: 745px;
  height: 610px;
  background-color: $color-beige;
  border-radius: 10px;
  margin-bottom: 25px;
  color: $color-dark-blue;
}

.description__container {
  margin: 25px;
  // background-color: $color-primary;
  min-height: 560px;
  max-height: 560px;
}

.title__container {
  display: flex;
  justify-content: space-between;
}

.title__container__text {
  font-size: 1.8em;
  font-weight: 1000;
}
.to-read__icon {
  width: 40px;
  margin-right: 10px;
}

.favourites__icon {
  width: 40px;
}

.ratings__container-2 {
  display: none;
}

.ratings__container {
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.raitings__star-img {
  width: 45px;
}

.raitings__raiting {
  font-size: 3.2em;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 5px;
}

.raitings__number {
  font-size: 1.4em;
  margin-left: 8px;
  // display: flex;
  // flex-wrap: wrap;
  // width: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.additional-info {
  font-size: 1.8em;
  font-weight: 500;
  width: 100%;
  height: 120px;
}

.summary-title {
  color: $color-primary;
  font-size: 1.8em;
  font-weight: bold;
}

.summary {
  font-size: 1.8em;
  text-align: justify;
}

/////////////////////////////////////////////////////
.search-result {
  background-color: $color-beige;
  width: 220px;
  height: 312px;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;
  border-radius: 10px;
}

.search-result__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.search-result__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $color-dark-grey;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search-result:hover .search-result__overlay {
  opacity: 0.8;
}

.search-result__text {
  color: $color-white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .results-container {
    width: 880px;
    min-height: calc(100vh - 422px);
    margin-bottom: 62px;
  }

  .container__sitting-illu {
    width: 685px;
  }

  .sitting-illu {
    height: 130px;
    top: -104px;
  }

  .results-container__box {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-result {
    background-color: $color-beige;
    width: 185px;
    height: 262px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .search-result__text {
    font-size: 1.8em;
  }

  /////////////////////////////////////////////////////////////////////

  .result-details__container {
    width: 800px;
  }

  .result-details__img {
    width: 310px;
    height: 437px;
    margin-bottom: 20px;
  }

  .result-details__description {
    width: 470px;
    height: 437px;
    margin-bottom: 20px;
  }

  .description__container {
    margin: 10px;
    min-height: 417px;
    max-height: 417px;
  }

  .title__container__text {
    font-size: 1.6em;
    font-weight: 1000;
    line-height: 1.4em;
    // width: 370px;
  }

  .to-read__icon {
    width: 35px;
    margin-right: 10px;
  }

  .favourites__icon {
    width: 35px;
  }

  .ratings__container {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .raitings__star-img {
    width: 40px;
  }

  .raitings__raiting {
    font-size: 3.2em;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 5px;
  }

  .raitings__number {
    font-size: 1.4em;
    margin-left: 8px;
    // display: flex;
    // flex-wrap: wrap;
    // width: 12px;
    line-height: 14px;
    margin-top: 7px;
  }

  .additional-info {
    font-size: 1.4em;
    font-weight: 500;
    width: 100%;
    height: 70px;
    line-height: 1.3em;
  }

  .summary-title {
    color: $color-primary;
    font-size: 1.4em;
    font-weight: bold;
  }

  .summary {
    font-size: 1.4em;
    line-height: 1.3em;
    text-align: justify;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .results-container {
    width: 520px;
    min-height: calc(100vh - 380px);
    margin-bottom: 35px;
    border-radius: 20px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }

  .results-container__box {
    margin: auto;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-result {
    background-color: $color-beige;
    width: 140px;
    height: 198px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
  }

  .search-result__text {
    font-size: 1.8em;
  }

  /////////////////////////////////////////////////////////////////////

  .result-details__container {
    width: 450px;
    flex-wrap: wrap;
  }

  .result-details__img {
    width: 185px;
    height: 260px;
    margin-bottom: 15px;
  }

  .result-details__description {
    width: 250px;
    height: 260px;
    margin-bottom: 15px;
  }

  .description__container {
    margin: 10px;
    min-height: 240px;
    max-height: 240px;
  }

  .title__container__text {
    font-size: 1.4em;
    font-weight: 1000;
    line-height: 1.2em;
    height: 80px;
    // width: 370px;
  }

  .title__container__icons {
    display: none;
  }

  .additional-info {
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    height: 70px;
    line-height: 1.2em;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .summary-title {
    display: none;
  }

  .summary {
    display: none;
  }
  ////////////////////
  .bottom-row__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .container__icons-2 {
    display: flex;
    justify-content: flex-end;
  }

  .to-read__icon {
    width: 25px;
    margin-right: 10px;
    height: 25px;
  }

  .favourites__icon {
    width: 25px;
    height: 25px;
  }

  .ratings__container {
    display: none;
  }

  .ratings__container-2 {
    display: flex;
    // width: 100%;
    align-items: flex-end;
  }

  .raitings__star-img {
    width: 25px;
  }

  .raitings__raiting {
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 0px;
    display: flex;
    margin-bottom: -6px;
    // align-self: center;
    // padding-top: 54px;
  }

  .raitings__number {
    font-size: 0.9em;
    margin-left: 8px;
    // display: flex;
    // flex-wrap: wrap;
    // width: 12px;
    line-height: 0.9em;
    margin-top: 0px;
    display: flex;
    margin-bottom: 3px;
    // align-self: center;
    // padding-top: 52px;
  }

  ////////////////////
  .summary-container-2 {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    background-color: $color-beige;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .summary-title-2 {
    color: $color-primary;
    font-size: 1.2em;
    font-weight: bold;
  }

  .summary-2 {
    color: $color-dark-blue;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: justify;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
  .results-container {
    width: 380px;
    min-height: calc(100vh - 290px);
    margin-bottom: 25px;
    border-radius: 30px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }

  .results-container__box {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-result {
    background-color: $color-beige;
    width: 105.3px;
    height: 150px;
    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
  }

  .search-result__text {
    font-size: 1.3em;
  }

  /////////////////////////////////////////////////////////////////////

  .result-details__container {
    width: 340px;
    flex-wrap: wrap;
  }

  .result-details__img {
    width: 135px;
    height: 190px;
    margin-bottom: 12px;
  }

  .result-details__description {
    width: 193px;
    height: 190px;
    margin-bottom: 12px;
  }

  .description__container {
    margin: 8px;
    min-height: 174px;
    max-height: 174px;
  }

  .title__container__text {
    font-size: 1.2em;
    font-weight: 1000;
    line-height: 1.2em;
    height: 58px;
    // width: 370px;
  }

  .title__container__icons {
    display: none;
  }

  .additional-info {
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    height: 58px;
    line-height: 1.2em;
    display: flex;
    align-items: center;
  }

  .summary-title {
    display: none;
  }

  .summary {
    display: none;
  }
  ////////////////////
  .bottom-row__container {
    display: flex;
    justify-content: space-between;
    height: 58px;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .container__icons-2 {
    display: flex;
    justify-content: flex-end;
  }

  .to-read__icon {
    width: 25px;
    margin-right: 10px;
    height: 25px;
  }

  .favourites__icon {
    width: 25px;
    height: 25px;
  }

  .ratings__container {
    display: none;
  }

  .ratings__container-2 {
    display: flex;
    // width: 100%;
    align-items: flex-end;
  }

  .raitings__star-img {
    width: 25px;
  }

  .raitings__raiting {
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 0px;
    display: flex;
    margin-bottom: -6px;
    // align-self: center;
    // padding-top: 54px;
  }

  .raitings__number {
    font-size: 0.9em;
    margin-left: 3px;
    // display: flex;
    // flex-wrap: wrap;
    // width: 12px;
    line-height: 0.9em;
    margin-top: 0px;
    display: flex;
    margin-bottom: 3px;
    // align-self: center;
    // padding-top: 52px;
  }

  ////////////////////
  .summary-container-2 {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    background-color: $color-beige;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .summary-title-2 {
    color: $color-primary;
    font-size: 1.1em;
    font-weight: bold;
  }

  .summary-2 {
    color: $color-dark-blue;
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: justify;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-extrasmall) and (max-width: $bp-smaller) {
  .results-container {
    width: 280px;
    min-height: calc(100vh - 240px);
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }

  .results-container__box {
    margin: auto;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .search-result {
    background-color: $color-beige;
    width: 81.3px;
    height: 115px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
  }

  .search-result__text {
    font-size: 1.1em;
  }

  /////////////////////////////////////////////////////////////////////

  .result-details__container {
    width: 256px;
    flex-wrap: wrap;
  }

  .result-details__img {
    width: 100px;
    height: 140px;
    margin-bottom: 6px;
  }

  .result-details__description {
    width: 150px;
    height: 140px;
    margin-bottom: 6px;
  }

  .description__container {
    margin: 8px;
    min-height: 130px;
    max-height: 130px;
  }

  .title__container__text {
    font-size: 1em;
    font-weight: 1000;
    line-height: 1em;
    height: 41px;
    // width: 370px;
  }

  .title__container__icons {
    display: none;
  }

  .additional-info {
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    height: 41px;
    line-height: 1em;
    display: flex;
    align-items: center;
  }

  .summary-title {
    display: none;
  }

  .summary {
    display: none;
  }
  ////////////////////
  .bottom-row__container {
    display: flex;
    justify-content: space-between;
    height: 41px;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .container__icons-2 {
    display: flex;
    justify-content: flex-end;
  }

  .to-read__icon {
    width: 20px;
    margin-right: 5px;
    height: 20px;
  }

  .favourites__icon {
    width: 20px;
    height: 20px;
  }

  .ratings__container {
    display: none;
  }

  .ratings__container-2 {
    display: flex;
    // width: 100%;
    align-items: flex-end;
  }

  .raitings__star-img {
    width: 15px;
  }

  .raitings__raiting {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 0px;
    display: flex;
    margin-bottom: -6px;
    // align-self: center;
    // padding-top: 54px;
  }

  .raitings__number {
    font-size: 0.6em;
    margin-left: 3px;
    // display: flex;
    // flex-wrap: wrap;
    // width: 12px;
    line-height: 0.8em;
    margin-top: 0px;
    display: flex;
    margin-bottom: 0px;
    // align-self: center;
    // padding-top: 52px;
  }

  ////////////////////
  .summary-container-2 {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
    background-color: $color-beige;
    border-radius: 10px;
    margin-bottom: 6px;
    padding: 8px;
  }

  .summary-title-2 {
    color: $color-primary;
    font-size: 0.9em;
    font-weight: bold;
  }

  .summary-2 {
    color: $color-dark-blue;
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: justify;
  }
}
