.container__sitting-illu {
  height: 0px;
  justify-content: flex-end;
  height: 0px;
  display: flex;
  width: 1040px;
  margin: auto;
}

.sitting-illu {
  height: 160px;
  top: -128px;
  position: relative;
}

.results-container {
  width: 1300px;
  min-height: 500px;
  margin: auto;
  background-color: $color-light-brown;
  border-radius: 40px;
  margin-bottom: 110px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .results-container {
    width: 880px;
    height: calc(100vh - 390px);
  }

  .container__sitting-illu {
    width: 685px;
  }

  .sitting-illu {
    height: 130px;
    top: -104px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .results-container {
    width: 520px;
    height: calc(100vh - 420px);
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
  .results-container {
    width: 380px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }
}
