.container__sitting-illu {
  height: 0px;
  justify-content: flex-end;
  height: 0px;
  display: flex;
  width: 1040px;
  margin: auto;
}

.sitting-illu {
  height: 160px;
  top: -128px;
  position: relative;
}

.results-container {
  width: 1300px;
  min-height: calc(100vh - 425px);
  margin: auto;
  background-color: $color-light-brown;
  border-radius: 40px;
  margin-bottom: 60px;
}

.results-container__box {
  margin: auto;
  padding-top: 70px;
  padding-bottom: 35px;
  padding-left: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.search-result {
  background-color: $color-beige;
  width: 196px;
  height: 279px;
  margin-right: 35px;
  margin-bottom: 35px;
  position: relative;
}

.search-result__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $color-primary;
  display: flex;
  align-items: center;
}

.search-result:hover .search-result__overlay {
  opacity: 0.6;
}

.search-result__text {
  color: $color-white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .results-container {
    width: 880px;
    min-height: calc(100vh - 422px);
    margin-bottom: 62px;
  }

  .container__sitting-illu {
    width: 685px;
  }

  .sitting-illu {
    height: 130px;
    top: -104px;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .results-container {
    width: 520px;
    min-height: calc(100vh - 380px);
    margin-bottom: 35px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
  .results-container {
    width: 380px;
    min-height: calc(100vh - 290px);
    margin-bottom: 25px;
    border-radius: 30px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

@media screen and (min-width: $bp-extrasmall) and (max-width: $bp-smaller) {
  .results-container {
    width: 280px;
    min-height: calc(100vh - 240px);
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .container__sitting-illu {
    display: none;
  }

  .sitting-illu {
    display: none;
  }
}
